
project/data/*
project/output/*

project/deployment/*.pkl

project/frontend/*.pkl
project/frontend/*.parquet
project/frontend/.ipynb_checkpoints

project/framework/mlflow/backups
project/framework/mlflow/kk
project/framework/mlflow/data/*
project/framework/prefect

project/monitoring/data/*.parquet
project/monitoring/workspace
project/monitoring/.ipynb_checkpoints

project/orchestration/__pycache__
project/orchestration/.ipynb_checkpoints
project/orchestration/mlruns

project/tmp